<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'logout' %}">Sair</a>
    <center>
        <h1>Lista de clientes</h1>

        <table style="width:100%">
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th>Salário</th>
                <th>Opções</th>
            </tr>

            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.first_name }}</td>
                <td>{{ cliente.last_name }}</td>
                <td>{{ cliente.age }}</td>
                <td>{{ cliente.salary }}</td>
                <td>
                    <a href="{% url 'editarCliente' cliente.id %}">editar</a>
                    <a href="{% url 'excluirCliente' cliente.id %}">excluir</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>

    <br/>
    <a href="{% url 'adicionarCliente'%}">Novo Cliente</a>
</body>
</html>