{% extends 'base.html' %}

{% block title %}Listar Clientes{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">

        </div>
        <div class="col-8">
            <form action="" class="form-group">
                <div class="row">
                    <div class="col-4">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome">
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="sobrenome" name="sobrenome"placeholder="Digite o sobrenome">
                    </div>
                    <div class="col">
                        <button class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col-8">
            <center>
                <h1>Lista de clientes</h1>

                <table style="width:100%" class="table table-striped">
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Idade</th>
                        <th>Salário</th>
                        <th>Opções</th>
                    </tr>

                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.first_name }}</td>
                        <td>{{ cliente.last_name }}</td>
                        <td>{{ cliente.age }}</td>
                        <td>{{ cliente.salary }}</td>
                        <td>
                            <a href="{% url 'editarCliente' cliente.id %}" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{% url 'excluirCliente' cliente.id %}" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </center>

            <br/>
            <a href="{% url 'adicionarCliente'%}" class="btn btn-primary">Novo Cliente</a>
        </div>
        <div class="col-2">
            <a href="{% url 'logout' %}" class="btn btn-danger">
                Sair <i class="fas fa-door-open"></i>
            </a>
        </div>
    </div>
{% endblock %}