{% extends 'base.html' %}

{% block title %}Seja bem-vindo!{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-6">
            <h1>Esta é a sua home page</h1>
        </div>
        <div class="col-sm">
            {% if user.is_authenticated %}
                <p>Seja bem-vindo, {{ user.username }}!</p>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            {% endif %}
        </div>
    </div>
{% endblock %}